.nav-menu {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  list-style-type: none;
}
.nav-link {
  font-family: 'Roboto';
  font-weight: bold;
  font-size: 30px;
  margin-left: 10px;
}
